*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    background-color: #e0e8ff;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

.heading{
    background-color: blue;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 20px 10px;
}

.output{
    padding: 10px 5px;
    border-radius: 9999px;
    background-color: rgba(232, 110, 53, 0.936);
    margin-top: 10px;
    color: #fff;
    width: 100px;         
    text-align: center;
    display: inline-block;
}

.output-section{
    margin-top: 20px;
}

.input-section{
    width: 70%;
}

.input-slider{
    width: 100%;
    margin: 10px;
}

.category {
    font-weight: bold;
    margin: 20px;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    background-color: #9de3df;
    font-size: 1.1rem;
}

.credit {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.credit strong {
    color: #60d91a; 
    font-weight: 600;
  }
